
body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6fc;
    /* light background like app-bg */
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;

}

button{
    background: none;
    border: none;
}

button:active{
    transform: scale(0.95);
}

.menu-icon{
    width: 55px;
    margin: 15px; 
}


/* Стили кнопки */
.modal-btn {
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.modal-btn:hover {
    transform: translateY(-2px);

}

/* Модальное окно (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.3s ease;
}

button{
    font-size: 28px;
}

/* Контент модального окна */
.modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5% auto;
    padding: 2%;
    width: 90%;
    gap: 20px;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    animation: slideIn 0.3s ease;
    position: relative;
}

.modalIcon{
    height: 30px;
}

/* Анимации */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




/* Кнопка закрытия */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
}

.close:hover {
    color: #000;
}

/* Тело модального окна */
.modal-body {
    padding: 24px;
}

.modal-body p {
    margin-bottom: 16px;
    line-height: 1.5;
    color: #666;
}

.modal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 10px;
}




/* Адаптивность */
@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        margin: 10% auto;
    }
    
    .modal-header h2 {
        font-size: 18px;
    }
    
    .modal-body p {
        font-size: 14px;
    }
}

