body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6fc;
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
